-c constraints.txt
-r sub_requirements.in
fastapi
python-multipart
aiohttp[speedups]
pyyaml
aiofiles
jinja2
async_lru
jwcrypto
xmltodict
loguru
motor
pysaml2
uvicorn[standard]
gunicorn
# jwcrypto needs six
six
# needed for hashes
importlib-resources
zipp
