fastapi
python-multipart
aiohttp[speedups]
pyyaml
aiofiles
jinja2
async_lru
jwcrypto
xmltodict
motor
pysaml2
pki-tools
pydantic-settings
uvicorn[standard]
gunicorn
# jwcrypto needs six
six
# needed for hashes
importlib-resources
zipp
async-timeout
