{% extends "base.jinja2" %}
{% block title %}Interaction finished{% endblock %}
{% block content %}
    <h1>Interaction finished</h1>
    <p class="lead">Return to your client to continue the authentication flow.</p>
{% endblock %}
