{% extends "base.jinja2" %}
{% block title %}Access denied{% endblock %}
{% block content %}
    <h1>Access denied</h1>
    <p class="lead">The request was denied and no access was granted.</p>
{% endblock %}
