<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="section">
        <h3>Access denied</h3>
    </div>
    <div class="section">
        <p>The request was denied and no access was granted.</p>
    </div>
</body>
</html>
