{% extends "base.jinja2" %}
{% block title %}User code{% endblock %}
{% block content %}
    <h1>User code interaction</h1>
    <p class="lead">Enter the code shown by the application you are trying to use.</p>

    <form action="" method="post">
        <div class="field">
            <h2><label for="user-code">Input your code</label></h2>
            <input type="text" id="user-code" name="user_code" autocomplete="off" autocapitalize="off"
                   autocorrect="off" spellcheck="false" required>
        </div>
        <div class="actions">
            <button type="submit" class="button button-primary">OK</button>
        </div>
    </form>
{% endblock %}
