<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User code</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="section">
        <h3>User code interaction</h3>
    </div>
    <div class="section">
        <h4>Input your code</h4>
    </div>
    <div class="form">
        <form action="" method="post">
            <label hidden for="user-code">code:</label>
            <input type="text" id="user-code" name="user_code" autocomplete="false">
            <button type="submit">OK</button>
        </form>
    </div>
</body>
</html>
