<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Short code</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>
    <form>
        <h4>Input your code</h4>

        <div id="code">
            <label for="user-code">code:</label>
            <input type="text" id="user-code" name="user_code">
        </div>

        <div class="button">
            <button type="submit">OK</button>
        </div>
    </form>
</body>
</html>
