
body {
    font: 1.3rem sans-serif;
    padding: 0.5em;
    margin: 0;
    background: #999;
}

div.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
